  
.header-hero-container {
	height: 81.25rem;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}